.img {
  background-image: url('../img/Rectangle\ 7.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img8 {
  background-image: url('../img/Rectangle\ 8.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img9 {
  background-image: url('../img/Rectangle\ 9.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img10 {
  background-image: url('../img/Rectangle\ 10.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img11 {
  background-image: url('../img/Rectangle\ 11.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img13 {
  background-image: url('../img/Rectangle\ 13.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.img12 {
  background-image: url('../img/Rectangle\ 12.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.img14 {
  background-image: url('../img/Rectangle\ 14.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}



@media only screen and (max-width:441px) {
  .styl {
    font-size: 20px;
  }
}

@media only screen and (max-width:368px) {
  .styl {
    font-size: 13px;
  }
}